<!DOCTYPE html>
<!--todo lo q sea link, script, se mete en el head(cosas q no se ven)-->

<head th:insert="librerias::librerias">
</head>

<body>
<div class="container">
	<header>
		<!--menu de arriba, th:Thymeleaf, plantilla html.-->
		<div th:insert="top::top"></div>

	</header>
	<h1>Explotaciones en Spring</h1>

	<!-- imprimir tabla pedidos-->

	<table class="table table-hover">
		<!--hover(remarca)-->
		<thead class="table-dark bg-info text-white">
			<!--bg-info(letra de la tabla...)-->
			<tr>
				<!--cabeceras-->
				<th>CEA</th>
				<th>Animal</th>
				<th>Número de animales</th>
			</tr>
		</thead>
		<tbody>
			<!--empty tengo o no pedidos-->
			<!--th:if: si mis pedidos tiene o no tiene pedidos, sino imprime NO HAY ALUMNOS-->
			<!--acceder a un objeto q hemos definido en el controlador ($ nombre del attr del modelo.empty(true(crea el tr)/false(no crea el tr)))-->
			<tr th:if="${listaExplotaciones.Empty}">
				<td colspan="2"> No hay explotaciones </td>
			</tr>
			<!--th:each=cada pedido q este en mi variable ListaPedidos(controlador) llamale pedido-->
			<tr th:each="explotacion:${listaExplotaciones}">
				<!--celda-->
				<td>
					<!--enlace=yo hago click ID pedido me mande al controlador /pedidos/id-->
					<!--@: permite decirle que parte de nuestro pedido.controller va recibir esa peticion, de ese click-->
					<!--$:acceder a una variable dentro de th. id= attr id de objeto pedido-->
					<a th:href="@{/explotaciones/{cea}(cea=${explotacion.cea})}" class="btn btn-primary btn-sm">
						<!--imprimir el id, con etiqueta span. id del pedido(${pedido.id}-->
						<span th:text="${explotacion.cea}"></span>
					</a>

				</td>
				<td>
					<!--imprimir el id, con etiqueta span. acceder nombre del alumno(${alumno.nombre}-->
					<span th:text="${explotacion.getCea}"></span>
				</td>
				<td>
					<span th:each="animal:${explotacion.animales}">
						<span th:text="${animal.getCrotal}">Crotal del animal
							<span>, </span>
						</span>
					</span>
				</td>
				<td>
					<span th:text="${explotacion.getnAnimales}">Número de animales</span>
				</td>
			
			</tr>
		</tbody>
	</table>

	<div class="col-2 float-right">
		<div class="p-5">
			<!--primary boton azul-->
			<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#crearMensaje">
				+ </button>
		</div>
	</div>


	<!--create modal-->
	<div class="modal fade" id="crearMensaje">
		<div class="modal-dialog" role="document">
			<div class="modal-content">


				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">Crear explotación</h4>
					<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="error-text">Crear explotación nueva:</p>


					<form action="#" th:action="@{/explotacion/add/}" th:object="${explotacionNueva}" method="post">
						<div class="form-row">
							<div class="form-group mt-4">
								<label for="texto">Seleccionar animal</label>
								<select th:field="*{animales}" multiple="true" class="form-control selectpicker"
									name="animales" id="animales">
									<option th:each="a:${listaAnimales}" th:value="${a.crotal}" th:text="${a.crotal}"
										value="">Seleccionar animales</option>
								</select>
							</div>
						</div>

				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
					<input type="submit" value="Crear explotacion" class="btn btn-primary float-right" />


				</div>
				</form>
			</div>
		</div>
	</div>
	
	<!--fin create modal-->
</div>
	</body>
</html>